<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()+'/'}"/>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script src="js/jquery.js"></script>
    <script>
        //发送邮件
        function sendmail(ele) {
           var username= $("#username").val();

           $.ajax({
               url:"/forget/sendmail",
               data:{"username":username},
               success:function (data) {
                   if(data.code=="200"){
                       alert("发送成功!");
                       //展示提示信息
                       var showemail=data.data.showemail;
                       var toemail=data.data.toemail;
                       $("#msg").html("邮件已发送至您的:"+showemail+"邮箱,<a href='http://"+toemail+"'>去邮箱</a>");
                   }else{
                       alert(data.msg);
                   }
               },
               dataType:"json"
           });

           //倒计时
            $(ele).attr('disabled','disabled');//禁用按钮
            djs(ele);
        }

        //按钮倒计时
        var time=5;
        function djs(ele) {

            if (time == 0){
                //开放按钮
                $(ele).removeAttr("disabled");
                $(ele).html("找回密码");
                time=5;
                return;
            }

            $(ele).html("发送成功!"+time+"秒后重试")
            setTimeout(function () {
                time--;
                djs(ele);
            },1000);
        }


        //发送短信
        function sendmsg(ele) {
            var phone= $("#phone").val();

            $.ajax({
                url:"/forget/sendmsg",
                data:{"phone":phone},
                success:function (data) {
                    alert(data);
                },
                dataType:"json"
            });

            //倒计时
            $(ele).attr('disabled','disabled');//禁用按钮
            djs1(ele);
        }

        function djs1(ele) {

            if (time == 0){
                //开放按钮
                $(ele).removeAttr("disabled");
                $(ele).html("发送验证码");
                time=5;
                return;
            }

            $(ele).html("发送成功!"+time+"秒后重试")
            setTimeout(function () {
                time--;
                djs1(ele);
            },1000);
        }


        $(function () {
            //手机验证码修改密码
            $("#updatemm").click(function () {

                var phone=$("#phone").val();
                var code=$("#code").val();

                $.ajax({
                    type:"POST",
                    url:"/forget/getuserbyphone",
                    data:{"phone":phone,"code":code},
                    success:function (data) {
                        if (data.code=="200") {
                            location.href=data.data;
                        }else{
                            alert(data.msg);
                        }
                    },
                    dataType:"json"
                });
            });
        });
        /*$("#clickEm").click(function () {
            //显示邮件找回
            $("#emaildiv").removeAttrs("style");
            //手机找回隐藏
            $("#phonediv").attr("style","display:none");
        });
        $("#clickPh").click(function () {
            //邮件找回隐藏
            $("#emaildiv").val("style","display:none");
            //手机找回显示
            $("#phonediv").val("style","display:block");
        });*/
    </script>
</head>
<body>
    <div>
        <button type="button" id="clickEm">邮箱找回</button>
        <button type="button" id="clickPh">手机找回</button>
    </div>

        <hr/>
        <h1>邮箱找回密码</h1>
        账号:<input type="text" name="username" id="username"/><span id="msg"></span><br/>
        <button type="button" onclick="sendmail(this);">找回密码</button>

        <hr/>
        <h1>手机号找回密码</h1>
        手机号:<input type="text" name="phone" id="phone"/>
                <button type="button" id="phonemsg" onclick="sendmsg(this);">发送验证码</button><br/>
        验证码:<input type="text" name="code" id="code"/><br/>
        <button type="button" id="updatemm">找回密码</button>

</body>
</html>