<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()+'/'}"/>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <script src="js/jquery.js"></script>
    <script>
        function sendmail(ele) {
           var username= $("#username").val();

           $.ajax({
               url:"/forget/sendmail",
               data:{"username":username},
               success:function (data) {
                   if(data.code=="200"){
                       alert("发送成功!");
                       //展示提示信息
                       var showemail=data.data.showemail;
                       var toemail=data.data.toemail;
                       $("#msg").html("邮件已发送至您的:"+showemail+"邮箱,<a href='http://"+toemail+"'>去邮箱</a>");
                   }else{
                       alert(data.msg);
                   }
               },
               dataType:"json"
           });

           //倒计时
            $(ele).attr('disabled','disabled');//禁用按钮
            djs(ele);
        }

        //按钮倒计时
        var time=5;
        function djs(ele) {

            if (time == 0){
                //开放按钮
                $(ele).removeAttr("disabled");
                $(ele).html("找回密码");
                time=5;
                return;
            }

            $(ele).html("发送成功!"+time+"秒后重试")
            setTimeout(function () {
                time--;
                djs(ele);
            },1000);
        }
    </script>
</head>
<body>
<h1>忘记密码</h1>
账号:<input type="text" name="username" id="username"/><span id="msg"></span><br/>
<button type="button" onclick="sendmail(this);">找回密码</button>
</body>
</html>