<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript" src="resources/scripts/jquery-1.8.3.min.js/"></script>
    <!-- jQuery Configuration -->
   <!-- <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!--jquery弹窗的依赖-->
    <script src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>
    <link  rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css" />

    <!--webuploader上传的依赖-->
    <script src="resources/widget/webuploader/webuploader.min.js"></script>
    <link rel="stylesheet" href="resources/widget/webuploader/webuploader.css"/>

    <!--layui-->
    <script src="resources/layui/layui.js"></script>
    <link rel="stylesheet" href="resources/layui/css/layui.css" media="all">

    <style type="text/css">
        td{
            border: solid lightsteelblue 1px;
            vertical-align: middle;
        }
        tr{
            border: solid lightsteelblue 1px;
        }
        th{
            border: solid lightsteelblue 1px;
        }
    </style>
</head>
<body id="mybody">
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table id="mytable">
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox" /></th>
                        <th>编号</th>
                        <th>商品标题</th>
                        <th>商品图片</th>
                        <th>商品价格</th>
                        <th>商品库存</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="goods : ${goodsList}">
                        <td><input type="checkbox" /></td>
                        <td th:text="${goods.id}">编号</td>
                        <td th:text="${goods.subject}">商品标题</td>
                        <td><img style="width: 100px;height: 100px" th:src="${goods.fmImage}"/></td>
                        <td th:text="${#numbers.formatCurrency(goods.price)}">商品价格</td>
                        <td th:text="${goods.save}">商品库存</td>
                        <td>
                            <!-- Icons --> <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit" /></a> <a
                                href="#" title="Delete"><img
                                src="resources/images/icons/cross.png" alt="Delete" /></a> <a
                                href="#" title="Edit Meta"><img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta" /></a>
                        </td>
                    </tr>

                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="bulk-actions align-left">
                               <!-- <select name="dropdown">
                                    <option value="option1">Choose an action...</option>
                                    <option value="option2">Edit</option>
                                    <option value="option3">Delete</option>
                                </select> -->
                                <button class="mybutton" onclick="dialog()">添加商品</button>
                            </div>
                           <!-- <div class="pagination">
                                <a href="javascript:void(0)" id="firstPage" title="First Page">&laquo; 首页</a>
                                <a href="javascript:void(0)" id="previousPage" title="Previous Page">&laquo; 上一页</a>
                                <a href="javascript:void(0)" class="number" title="1">1</a>
                                <a href="javascript:void(0)" class="number" title="2">2</a>
                                <a href="javascript:void(0)" class="number current" title="3">3</a>
                                <a href="javascript:void(0)" class="number" title="4">4</a>
                                <a href="javascript:void(0)" id="nextPage" title="Next Page">下一页 &raquo;</a>
                                <a href="javascript:void(0)" id="lastPage" title="Last Page">尾页 &raquo;</a>
                            </div>--> <!-- End .pagination -->
                            <div id="mypage" style="padding-left: 40%"></div>
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!--分页-->
<script th:inline="javascript">
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'mypage' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: [[${goodsPage.total}]]//数据总数，从服务端得到
            ,limit: [[${myPage.pageSize}]]
            ,limits:[1,3,5,8,10]
            ,curr:[[${myPage.currePage}]]
            ,groups:5
            // ,first:'首页'
            // ,last:'尾页'
            ,layout:['count','first','prev','page','next','last','refresh','limit','skip']
            ,jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数

                //首次不执行
                if(!first){
                    //do something
                    $("#mybody").load([[${myPage.url}]]+"?currePage="+obj.curr+"&pageSize="+obj.limit);
                }
            }
        });
    });
</script>
<!--弹出窗-->
<script>
    function dialog() {
        $("#mydialog").dialog({
            title: "添加商品",
            width: 800,
            height: 600,
            position: "center",
            modal: true
        });
    }
        //页面加载后初始化(封面)
        $(function () {
            // 初始化Web Uploader
            var uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: "/resources/widget/webuploader/Uploader.swf",
                // 文件接收服务端。
                server: "goods/uploader",
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: "#uploader_fm",
                // 只允许选择图片文件。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            //设置上传后的回调方法
            uploader.on('uploadSuccess',function (file,response) {
                if (response.code=='200'){
                    //设置图片回显
                    $("#fm_image").attr("src",response.data);
                    $("#fmImage").val(response.data);
                } else{
                    alert("图片上传失败!");
                }
            })
        });


    //页面加载后初始化(其他图片)
    $(function () {
        // 初始化Web Uploader
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: "/resources/widget/webuploader/Uploader.swf",
            // 文件接收服务端。
            server: "goods/uploader",
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: "#uploader_other",
            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        //设置上传后的回调方法
        uploader.on('uploadSuccess',function (file,response) {
            if (response.code=='200'){
                //设置图片回显
                var htmlImage="<img style='120px;height: 120px;margin: 5px' src='"+response.data+"'/>";
                $("#otherImages").append(htmlImage);
                //隐藏域
                var  htmlHidden="<input type='hidden' name='otherImages' value="+response.data+" />"
                $("#imagesName").append(htmlHidden);
            } else{
                alert("图片上传失败!");
            }
        })
    });
</script>
<div id="mydialog" style="display: none">
    <div class="content-box-content">
        <div class="tab-content default-tab" id="tab2">
            <form action="/goods/insert" method="post">
                <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <!--短 中 长 三个输入框-->
                   <!-- <p>
                        <label>Small form input</label> <input
                            class="text-input small-input" type="text" id="small-input"
                            name="small-input" /> <span
                            class="input-notification success png_bg">Successful
									message</span>
                        &lt;!&ndash; Classes for input-notification: success, error, information, attention &ndash;&gt;
                        <br /> <small>A small description of the field</small>
                    </p>
                    <p>
                        <label>Medium form input</label> <input
                            class="text-input medium-input datepicker" type="text"
                            id="medium-input" name="medium-input" /> <span
                            class="input-notification error png_bg">Error message</span>
                    </p>-->
                    <p>
                        <label>商品标题</label> <input
                            class="text-input large-input" type="text"
                            name="subject" />
                    </p>
                    <p>
                        <label>上传封面</label>
                        <div id="uploader_fm">选择图片</div>
                        <img id="fm_image" style="width:120px;height: 120px "/>
                        <!--隐藏域,传递图片路径,存储到数据库-->
                        <input type="hidden" name="fmImage" id="fmImage"/>
                    </p>
                    <p>
                        <label>上传其他图片</label>
                        <div id="uploader_other">上传其他图片</div>
                        <div id="otherImages"style="width: 600px;height: 300px;border: #bbbbbb solid 1px"></div>
                        <div id="imagesName"></div>
                    </p>
                    <p>
                        <label>商品价格</label>
                        <input class="text-input small-input" type="text"   name="price" />
                    </p>
                    <p>
                        <label>商品库存</label>
                        <input class="text-input small-input" type="text"   name="save" />
                    </p>
                    <p>
                        <label>商品描述</label>
                        <textarea class="text-input textarea wysiwyg" id="textarea"
                                  name="info" cols="79" rows="15"></textarea>
                    </p>
                    <p>
                       <!-- <input class="mybutton" type="submit" value="Submit" />-->
                        <button type="submit" class="mybutton">添加</button>
                    </p>
                </fieldset>
                <div class="clear"></div>
                <!-- End .clear -->
            </form>
        </div>
        <!-- End #tab2 -->
    </div>
</div>
<!-- End #main-content -->
</body>
</html>